.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend__avatar {
  width: 45px;
  border-radius: 40%;
  margin-right: 15px;
}

.friend .g_avatar {
  width: 70px;
}

.friend .m_avatar {
  width: 55px;
}

.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend__content .friend__name {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
}

.friend__bottom-text,
.friend__status,
.friend .chat__timestamp {
  opacity: 0.6;
}

.friend__bottom-text {
  font-size: 14px;
}

.friend__status {
  font-size: 12px;
}

.friend .chat__timestamp {
  font-size: 12px;
}
